<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>mypackage.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDB</servlet-name>
        <servlet-class>mypackage.CreateDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>mypackage.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDatabase</servlet-name>
        <servlet-class>mypackage.GetDatabase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBInformation</servlet-name>
        <servlet-class>mypackage.DBInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CollInformation</servlet-name>
        <servlet-class>mypackage.CollInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateColl</servlet-name>
        <servlet-class>mypackage.CreateColl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManupulateData</servlet-name>
        <servlet-class>mypackage.ManupulateData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadDoc</servlet-name>
        <servlet-class>mypackage.DownloadDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadDB</servlet-name>
        <servlet-class>mypackage.DownloadDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadColl</servlet-name>
        <servlet-class>mypackage.DownloadColl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManupulateMongo</servlet-name>
        <servlet-class>mypackage.ManupulateMongo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDB</servlet-name>
        <url-pattern>/CreateDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDatabase</servlet-name>
        <url-pattern>/GetDatabase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBInformation</servlet-name>
        <url-pattern>/DBInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CollInformation</servlet-name>
        <url-pattern>/CollInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateColl</servlet-name>
        <url-pattern>/CreateColl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManupulateData</servlet-name>
        <url-pattern>/ManupulateData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadDoc</servlet-name>
        <url-pattern>/DownloadDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadDB</servlet-name>
        <url-pattern>/DownloadDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadColl</servlet-name>
        <url-pattern>/DownloadColl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManupulateMongo</servlet-name>
        <url-pattern>/ManupulateMongo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
